In [67]:
#reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [68]:
import os

In [69]:
path="C:/Users/Henry/Desktop/Cursos/python/pucp/tarea"
# detect the current working directory and print it
path = os.chdir(path)
print ("The current working directory is %s" % path)

The current working directory is None

In [70]:
# detect the current working directory and print it
path = os.getcwd()
print ("The current working directory is %s" % path)

The current working directory is C:\Users\Henry\Desktop\Cursos\python\pucp\tarea

In [5]:
#crear carpetas
# define las carpeta
path = "data"
try:
    os.makedirs(path)
except OSError:
    print ("Creation of the directory %s failed" % path)
else:
    print ("Successfully created the directory %s" % path)

Successfully created the directory data

In [6]:
import requests
import requests, zipfile, io

##modulo 1

url='http://iinei.inei.gob.pe/iinei/srienaho/descarga/STATA/687-Modulo01.zip'
r = requests.get(url, allow_redirects=True)
z=zipfile.ZipFile(io.BytesIO(r.content))
z.extractall(path) 

#modulo2
url='http://iinei.inei.gob.pe/iinei/srienaho/descarga/STATA/687-Modulo02.zip'
r = requests.get(url, allow_redirects=True)
z=zipfile.ZipFile(io.BytesIO(r.content))
z.extractall(path) 
#Moudulo3
url='http://iinei.inei.gob.pe/iinei/srienaho/descarga/STATA/687-Modulo03.zip'
r = requests.get(url, allow_redirects=True)
z=zipfile.ZipFile(io.BytesIO(r.content))
z.extractall(path) 
#moudlo 4
url='http://iinei.inei.gob.pe/iinei/srienaho/descarga/STATA/687-Modulo04.zip'
r = requests.get(url, allow_redirects=True)
z=zipfile.ZipFile(io.BytesIO(r.content))
z.extractall(path) 
#modulo 5
url='http://iinei.inei.gob.pe/iinei/srienaho/descarga/STATA/687-Modulo05.zip'
r = requests.get(url, allow_redirects=True)
z=zipfile.ZipFile(io.BytesIO(r.content))
z.extractall(path)

In [7]:
#lista de archivos
os.listdir('data/')
folder=os.listdir('data/')

In [8]:
for i in folder:
    print(path+"/"+i)

data/687-Modulo01
data/687-Modulo02
data/687-Modulo03
data/687-Modulo04
data/687-Modulo05

In [9]:
for i in folder:
    print(path+"/"+i,i.split(sep="-",maxsplit=2)[1])

data/687-Modulo01 Modulo01
data/687-Modulo02 Modulo02
data/687-Modulo03 Modulo03
data/687-Modulo04 Modulo04
data/687-Modulo05 Modulo05

In [10]:
for i in folder:
    os.rename(path+"/"+i,path+"/"+i.split(sep="-",maxsplit=2)[1])

In [11]:
folder=os.listdir('data/')
for i in folder:
    print(path+"/"+i)

data/Modulo01
data/Modulo02
data/Modulo03
data/Modulo04
data/Modulo05

In [71]:
folder

NameError: name 'folder' is not defined

In [43]:
##############Trabajo##############

In [ ]:
## importar las bases de datos
## selecccionar las variables de bases que se necesitan
## Sugerencia de variables
## ingreso por persona, edad , sexo , ingreso, ¿Tiene seguro?, ¿Grado de educacion?, tipo de vivienda, estrato
## imputar por mice ()

In [72]:
## importar las bases de datos
import pandas as pd
df02 = pd.read_stata('data/Modulo02/enaho01-2019-200.dta',convert_categoricals=False)
df02=df02[["conglome","vivienda","hogar","codperso","ubigeo","p207","p208a"]]
df03 = pd.read_stata('data/Modulo03/enaho01a-2019-300.dta',convert_categoricals=False)
df03=df03[["conglome","vivienda","hogar","codperso","p301a","p301b","p301c"]]
df05 = pd.read_stata('data/Modulo05/enaho01a-2019-500.dta',convert_categoricals=False)

In [74]:
## selecccionar las variables de bases que se necesitan
Enaho=pd.merge(df02,df03,
             how='left',
             on=("conglome","vivienda","hogar","codperso"))

In [56]:
Enaho=pd.merge(Enaho,df05,
             how='left',
             on=("conglome","vivienda","hogar","codperso"))

In [75]:
#filtramos aquellas persona que tenga edad mayor a 15 años
Ena15=Enaho[Enaho['p208a']>15]

In [76]:
# creacion de indicadores
# Indicador del sexo del entrevistado
import numpy as np
Ena15['Sexo']=np.where(Ena15['p207']==1,'Hombre','Mujer')

2.0    46418
1.0    42943
Name: p207, dtype: int64

In [78]:
Ena15['Sexo'].value_counts(dropna=False)

Mujer     46418
Hombre    42943
Name: Sexo, dtype: int64

In [80]:
Ena15["p301a"].value_counts(dropna=False)

6.0     21568
3.0     12533
5.0     11560
4.0     10712
8.0      7221
10.0     6685
9.0      5852
1.0      5635
7.0      3663
NaN      2390
11.0     1404
12.0      103
2.0        35
Name: p301a, dtype: int64

In [104]:
#Ena15["Nivel_edu"]=0
for i in len(Ena15["p301a"]) :
    if ((Ena15["p301a"][i]>=1 & Ena15["p301a"][i]<=3 ) or Ena15["p301a"][i]==12):
        Ena15["Nivel_edu"][i]="Sin nivel"

TypeError: 'int' object is not iterable

In [91]:
len(Ena15["p301a"])

89361

In [102]:
Ena15

,conglome,vivienda,hogar,codperso,ubigeo,p207,p208a,p301a,p301b,p301c,Sexo,Nivel_edu
0,005009,041,11,01,010101,2.0,60.0,1.0,NaN,NaN,Mujer,0
1,005009,041,11,02,010101,2.0,28.0,10.0,5.0,NaN,Mujer,0
2,005009,056,11,01,010101,2.0,48.0,5.0,4.0,NaN,Mujer,0
3,005009,056,11,02,010101,2.0,25.0,6.0,5.0,NaN,Mujer,0
4,005009,056,11,03,010101,2.0,16.0,6.0,5.0,NaN,Mujer,0
...,...,...,...,...,...,...,...,...,...,...,...,...
128265,011350,078,11,01,180101,2.0,28.0,7.0,3.0,NaN,Mujer,0
128268,011350,097,11,01,180101,1.0,35.0,8.0,3.0,NaN,Hombre,0
128269,011350,097,11,02,180101,2.0,33.0,8.0,3.0,NaN,Mujer,0
128273,011350,116,11,01,180101,2.0,41.0,5.0,4.0,NaN,Mujer,0
128274,011350,116,11,02,180101,1.0,22.0,9.0,1.0,NaN,Hombre,0